.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    background-color: #fff;
    box-shadow: none;
    overflow: hidden;
}
.homeCards{
    gap: 15px;
}